astunparse==1.6.3
beautifulsoup4==4.13.3
filelock==3.18.0
gdown==5.2.0
h11==0.14.0
jax==0.4.30
jaxlib==0.4.30
keras==3.8.0
libclang==18.1.1
markdown-it-py==3.0.0
matplotlib==3.10.0
mdurl==0.1.2
ml-dtypes==0.4.1
namex==0.0.8
optree==0.14.0
protobuf==3.20.3
pyasn1-modules==0.2.8
Pygments==2.19.1
rich==13.9.4
soupsieve==2.6
tensorboard==2.17.1
tensorflow-io-gcs-filesystem==0.37.1
tqdm==4.67.1
uvicorn==0.34.0
wrapt==1.14.1
